@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

* {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.dark body {
    background-color: hsl(220, 7%, 15%);
    color: var(--text-1);

    --text-1: hsl(220, 7%, 90%);
    --text-2: hsl(220, 7%, 60%);

    --link-color: hsl(170, 20%, 50%);

    --sidebar-bg: hsl(220, 7%, 15%);
    --sidebar-button-fg: hsl(170, 40%, 60%);
    --sidebar-button-hover-bg: hsla(220, 7%, 10%, 40%);
    --overlay-bg: hsla(220, 7%, 1%, 40%);

    --toggle-bar-bg: hsl(220, 7%, 10%);
    --toggle-button: hsl(170, 20%, 50%);

    --navbutton-underline: hsl(170, 20%, 50%);

    --panel-bg: hsla(220, 7%, 40%, 16%);
    --panel-hl-bg: hsla(170, 60%, 40%, 12%);
}

:not(.dark) body {
    background-color: hsl(220, 7%, 90%);
    color: hsl(220, 7%, 12%);

    --link-color: hsl(170, 80%, 25%);

    --sidebar-bg: hsl(220, 7%, 80%);
    --sidebar-button-fg: hsl(170, 40%, 25%);
    --sidebar-button-hover-bg: hsla(220, 7%, 95%, 40%);
    --overlay-bg: hsla(220, 7%, 95%, 50%);

    --toggle-bar-bg: hsl(220, 7%, 99%);
    --toggle-button: hsl(170, 60%, 20%);

    --navbutton-underline: hsl(170, 60%, 40%);

    --panel-bg: hsla(220, 7%, 60%, 24%);
    --panel-hl-bg: hsla(170, 80%, 24%, 24%);
}

.flex-spacer {
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a.btn {
    align-items: center;
    background-color: var(--btn-main-bg);
    border-radius: 0.5rem;
    color: inherit;
    display: inline-flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    transition: scale 100ms linear;
}

a.btn:active {
    scale: 95%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1 {
    font-size: 332%;
    margin: 2rem 0;
}

h2 {
    font-size: 275%;
    margin: 1.6rem 0;
}

h3 {
    font-size: 240%;
    margin: 1.2rem 0;
}

h4 {
    font-size: 216%;
    margin: 0.8rem 0;
}

h5 {
    font-size: 180%;
    margin: 0.4rem 0;
}

h6 {
    font-size: 150%;
    margin: 0;
}

.narrow {
    margin: 0;
    padding: 0;
    line-height: 200%;
}

.subheading {
    color: var(--subheading);
}

.highlight {
    color: var(--highlight);
}

.hidden {
    display: none;
}

p,
li {
    font-size: 120%;
    line-height: 160%;
}

b {
    font-weight: 700;
}

.panel {
    border-radius: 0.5rem;
    padding: 1rem;
}

.panel:not(.highlight) {
    background-color: var(--panel-bg);
}

.panel.highlight {
    background-color: var(--panel-hl-bg);
}

.row,
.col {
    display: flex;
}

.inline-row,
.inline-col {
    display: inline-flex;
}

.row,
.inline-row {
    flex-direction: row;
}

.col,
.inline-col {
    flex-direction: column;
}

.row:not(.no-center),
.col:not(.no-center),
.inline-row:not(.no-center),
.inline-col:not(.no-center) {
    align-items: center;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 1rem;
}

.gap-3 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}
